<ion-view title="Menu Principal">

      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

       <ion-nav-buttons side="right">
        <!--<button ui-sref="root" class="button button-icon icon ">Volver</button>-->
      </ion-nav-buttons>
      
       <button class="button">Edit</button>
      <ion-content has-header="true" padding="true">

        <h3>Haga click en el vértice superior izquierdo para abrir el menú. Luego elija el plugin que desea probar.</h3>          

      </ion-content>

    </ion-view>